.view-aren {
  background-image: linear-gradient(90deg, rgb(254, 64, 64) 0%, rgb(250, 121, 112) 100%);
}

.aren-text {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0;
    animation: fadeIn 1s 2.2s forwards;
    padding: 4em;
  }

  &-header {
    font-size: 100px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
  }

  &-subtext {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
}