.statistics-text-subtext.user-messages-subtext {
  top: -50px;
}

.statistics-footer {
  opacity: 0;
  animation: 0.5s fadeIn 3.2s forwards;
}

.view-user-messages {
  background-image: linear-gradient( 109.7deg,  rgb(101, 204, 144) 12.9%, rgb(149, 236, 109)101.5% );
}