.view-ntf {
  background-image: linear-gradient(90deg, rgb(64, 254, 229) 0%, rgb(112, 160, 250) 100%);
}

.ntf-text {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0;
    animation: fadeIn 1s 2.2s forwards;
    padding: 4em;
  }

  &-header {
    font-size: 100px;
    font-weight: 700;
    font-family: 'Viga', sans-serif;
  }

  &-subtext {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Comic Sans MS', sans-serif;
  }
}