.view-user-pinned {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.userpinned-container {
  display: flex;
  flex-direction: column;
  margin-top: -4em;
}

.userpinned-text {
  &-container {
    opacity: 0;
    animation: fadeInAndBounceDown 0.5s 2s forwards;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 1em;
  }

  &-with {
    position: relative;
    left: 75px;
  }

  &-mention {
    font-size: 50px;
  }

  &-subtext {
    position: relative;
    margin-bottom: 2em;
    margin-top: -1em;
    font-size: 24px;

    span {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  &-header {
    opacity: 0;
    font-size: 72px;
    font-family: 'DM Sans', sans-serif;
    animation: fadeInAndBounceDown 1s 0s forwards
  }
}