.view-alee {
  background: linear-gradient(90deg, rgb(45, 207, 67) 0%, rgb(38, 142, 212) 100%);
}

@keyframes aleeResolveAnimation {
  to {
    transform: scale(0.6) translate(-20%, -30%);
  }
}

.alee {
  &-container {
    justify-content: center;
    align-items: center;
    margin-left: 2em;
  }

  &-header {
    animation: aleeResolveAnimation 0.5s 1.25s forwards;
  }

  &-text {
    margin-top: 250px;
    margin-left: 250px;
    opacity: 0;
    animation: fadeIn 0.5s 1.25s forwards;
  }

  &-subtext {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }

  &-footer {
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
}